*{
    box-sizing: border-box;
}

body{
   background-color: rgb(230, 230, 68); 
   margin: 3em;
   
}

div {
    padding: 1em;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid #000000;
}

#buttonsHolder {
    margin-left: auto;
    margin-right: auto;
}
p {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
button{
    margin-right: 1em;
}